
#options-grid{
    display: grid;
    grid-gap: 50px auto;
    grid-template-columns: 200px auto 200px;
    margin: 50px auto;
    max-width: 500px;
}

#options-grid > p{
    text-align:center;
}

.options{
    max-width: 300px;
    color: rgb(255, 245, 190);
    padding: 20px 50px;
    font-size: 2em;
    background-color: #555555;
    border: 1px solid  rgba(255, 98, 25, 0.748);
    box-shadow: 0px 1px 2px 1px rgba(255, 98, 25, 0.748);
}
.options:hover{
    box-shadow: 0 5px 15px 2px rgba(255, 98, 25, 0.748);
    background-color: #313131;
}

.options:active{
    border: 3px solid black;
}
#content-container{
    min-width: 540px;
    width: 70%;
    margin: auto;
}
#user-playlists{
    display:none;
}
table{
    margin:auto;
    text-align: center
}
.input-field{
    display:inline;
}
input{
    margin-bottom: 1em ;
}

p{
    line-height: 50px;
}

.autho{
    display:inline;
}

#dropdown-session-options{
    /* display: none; */
    margin: auto;
    width:75%;
}

#dropdown-session-options > p {
    display:inline;
}

#start-btn{
    margin: 2em 0;
    padding: 0.2em 0.1em;
    max-width: 150px;
    float: right;
}

#prev-playlists #next-playlists{
    display:inline;
}
#prev-playlists{
    float:left;
}
#next-playlists{
    float: right;
}