
#container{
    margin: 1em;
    /* width: 95%; */
    text-align: center;
}
#btn-header{
    margin: 1em 0;
    background-color:grey;
    border-radius: 6px;
}
#drop-results{
    display:none;
    /* The default display. Will reveal on a search */
    background-color: #4c4c4c;
    margin: 1em 0;
}

/* Search Results */
th{
    min-width: 200px;
    text-align:left;
}
tr{
    background-color: blue
}

/* Ranklist Nodes */
.track-node{
    height:100px;
    background-color: #282a36;
    border-radius: 6px;
    margin: 1em 0;
    /* margin-right:5em; */
}

/* .node-item{
    margin: 18px;
} */

.album-img{
    float: left;
    width: 64px;
    height: 64px;
    margin:18px;
    margin-left:6px;
}
.song_description{
    /* display: flex; */
    max-width:45%;
    z-index: 1;
    text-align:left;
    /* top: 20px; */
    padding-top: 16px;
    /* line-height:32px; */
    float: left;

    font-size: 1em;
    /* margin: auto 0; */
}

.vote-panel{
    /* z-index: 1;
    float: right; */
    display:block;
}

.vote-btn{
    width: 32px;
    height: 40px;
    float:right;
    border-radius:20%;
    line-height: 48px;
    text-align: center;
    font-size: 36px;
    background-color: #c44e18;
}
.vote-btn:hover{
    background-color:rgb(83, 83, 83)
}
/* .vote-btn:active{
    background-color:red
} */

.score{
    float: right;
    line-height: 2.8em;
    text-align: center;
    font-size: 2em;
    width: 35px;
}